@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
    font-family: "Montserrat", sans-serif;
    background-color: #efeeec;
    padding: 25px 0px 25px 0px;
}

.welcomeText{
    width: 70%;
    margin-top: 20px;
}

.theHeader{
    background-image: url('https://giphy.com/embed/3ohzdR6wnf7xX8xrUI');
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.theTitle{
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    /* font-weight: bold; */
    user-select: none; /* Disables text selection */
    -webkit-user-select: none; /* For WebKit browsers like Chrome, Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For older versions of Internet Explorer */
}

hr{
    margin-top: 0px;
    margin: 0 auto;
    width: 75%;
}

.theGIF{
    background-image: image();
    pointer-events: none;
    user-select: none; /* Disables text selection */
    -webkit-user-select: none; /* For WebKit browsers like Chrome, Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For older versions of Internet Explorer */
}

.titleIcon{
    width: auto;
    height: 40px;
}

.description{
    display: flex;
    justify-content: center;
}

.downloadSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-bottom: 40px;
}

.downloadButton{
    background-color: #6378ca;
    color: #FFF2F2;
    padding: 10px 27px 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 10px 7px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.25s, box-shadow 0.25s;
    transform: translateY(-7px);
}

.downloadButton:hover{
    transform: translateY(0%);
    box-shadow: none;
    background-color: #869ddd;
    color: white;
}

.downloadButton:active{
    cursor: default;
}

.display1Container{
    margin-top: 20px;
    position: relative;
    transform: translateY(2%);
    transition: transform 0.55s;
}

.thePhone{
    width: auto;
    height: 500px;
}

.display1Container:hover{
    transform: translateY(0);
}

.appLogo{
    position: absolute;
    width: auto;
    height: 200px;
    bottom: -30px;
    right: -20px;
    border: solid;
    border-color: rgb(155, 155, 155);
    border-width: 1px;
    border-radius: 15px;
}

.feature1{
    background-color: #F0F0F0;
    /* border-radius: 15px; */
    padding: 15px;
}

.featText1{
    width: 30%;
}

.fetTextNImg{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.featImg1{
    width: auto;
    height: 150px;
}

.feature2{
    background-color: #757575;
    padding: 15px;
    border-radius: 20px;
}